/**
 * Options Page 
 * 
 */
@import url("../styles/theme-variables.css");
@import url("../styles/settings.css");

/*  */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

/*  */
input,
textarea,
select {
  user-select: text !important;
  cursor: text !important;
}

button,
[role="button"] {
  cursor: pointer !important;
}
